.nav-toggle {
  display: none;
}

.main-nav-container {
  color: #ccc;
}

.main-nav {
  background: #555;
}

.main-nav .label {
  display: none;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  color: #ccc;
  margin: 10px 0;
  text-transform: uppercase;
  position: relative;
}

.main-nav .sub-menu {
  display: none;
}

.main-nav .open .sub-menu {
  display: block;
}

