[data-peeka] {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-height: 218px;
  padding-bottom: 35px;
  overflow: hidden;
}

.kid-sponsors {
  max-height: 235px;
}

[data-peeka="boo"] {
  max-height: 9999px;
}

[data-peeka] p {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

[data-peeka="boo"] p {
  opacity: 1;
}

.peekabutton {
  border: none;
  background: transparent;
  display: block;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
