html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

body {
  background: url("../img/site-bg.jpg") center center;
  padding-bottom: 100px;
  font-family: Georgia, serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.flag {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -148px;
  z-index: 100;
}

.header-img {
  margin: 45px 10px 25px;
  position: relative;
}

.header-img.pinned:before {
  left: 5px;
}

.header-img img {
  border: 8px solid #fff;
  background: #000;
  width: 100%;
}

.logo {
  position: absolute;
  bottom: -90px;
  width: 100%;
  z-index: 100;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
}

.main {
  padding: 93px 0;
  position: relative;
}

.main:before {
  content: '';
  background: url('../img/corkboard-border.jpg');
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 93px;
  width: 100%;
}

.main:after {
  content: '';
  background: url('../img/corkboard-border.jpg') repeat-x;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 93px;
  width: 100%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.board {
  background: url("../img/cork-bg.jpg") center center;
  position: relative;
  padding-bottom: 10px;
}

.board:before {
  content: "";
  background: url("../img/puzzle-piece.png") top center no-repeat;
  width: 111px;
  height: 99px;
  display: block;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -55px;
  z-index: 100;
}

.board:after {
  content: "";
  background: url("../img/mask.png") top center no-repeat;
  background-size: contain;
  width: 273px;
  height: 195px;
  display: block;
  position: absolute;
  bottom: -165px;
  left: 50%;
  margin-left: -136px;
  z-index: 100;
}

.board-header {
  background: url("../img/spider-web.png") top left no-repeat;
  padding: 40px 20px 10px;
  text-align: center;
  color: #fff;
}

.board-header h1 {
  background: #eeb8a2;
  padding: 20px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.main-content {
  background: #f8f8f8;
  margin: 10px 20px 40px;
  padding: 15px;
}

.topic-title {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.topic-title span {
  display: block;
}

.sponsor-box .topic-title {
  font-size: 17px;
}

.honoraries .topic-title b {
  font-weight: normal;
  font-size: 12px;
  text-transform: initial;
}

.kid-sponsors .topic-subtitle b {
  font-weight: normal;
  color: #777;
  display: block;
}

.with-subtitle {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.topic-subtitle {
  color: #eeb8a2;
  font-size: 14px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.topic-img {
  margin: 20px 20px 30px;
  padding: 2px;
  background-color: #fff;
}

.topic {
  background: #f8f8f8;
  color: #777;
  margin: 10px 20px 30px;
  padding: 15px 33px;
}

.topic p {
  line-height: 2em;
}

.pinned {
  -webkit-box-shadow: 0px 2px 25px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 25px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 25px 2px rgba(0,0,0,0.75);
  position: relative;
}

.pinned:before, .pinned:after {
  content: "";
  background: url("../img/pushpin.png") no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5px;
  left: 0;
}

.pinned:after {
  left: auto;
  right: -5px;
}

.pinned.single-pin:before {
  top: -11px;
  left: 51%;
}

.pinned.single-pin:after {
  display: none;
}

.registry-link {
  display: block;
  background-color: #fff;
}

.registry-link img {
  margin: 0 auto;
}

